* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 45px;
    width: 100%;
    background-color: #6e6e6e8a;
    top: 0%;
}

.nav-bl {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 15px;

}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.nav-bl ul li {
    margin: 8px;
}

a {
    color: #000;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-rows: 613px 660px 660px 550px 200px;
}

.Home {
    background-color: #E39A7F;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #583428;
    font-family: 'Shantell Sans';
    text-indent: 6px;
    font-size: medium;
}

.Home .hom-tex .hom-log {
    margin: 0 0 55px 250px;
}

.Home .hom-tex .hom-butt button {
    margin: 25px 0 0 500px;
    width: 100px;
    height: 50px;
    background-color: #52352a;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: larger;
    font-family: 'Shantell Sans', cursive;
}

.Home .hom-tex .hom-butt button:active {
    border-top: solid 4px #000000;
    border-left: solid 4px #000000;
    border-bottom: solid 1px #313131;
    border-right: solid 1px #313131;
}








/* .Service{

} */

.Offers {
    border-bottom: solid #c8ff00;
    border-top: solid #c8ff00;
}

.Customer {
    border-bottom: solid rgb(255, 0, 242);
    border-top: solid rgb(255, 0, 242);
}

.views {

    border-bottom: solid rgb(0, 255, 128);
    border-top: solid rgb(0, 255, 128);
}

footer {
    height: 200px;
    width: 100%;
    background-color: #1d1d1d;
}