* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    height: 45px;
    width: 100%;
    background-color: #583428;
    top: 0%;
}

.nav-bl {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 15px;
    font-family: 'Shantell Sans', cursive;

}

ul {
    list-style-type: none;
}

.nav-bl ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bl ul li {
    margin: 8px;
}

.nav-bl ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* main */

main {
    display: grid;
    grid-template-rows: 623px 680px 660px 550px 200px;
}

/* home */

.Home {
    background-color: #E39A7F;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #583428;
    font-family: 'Lobster', cursive;
    text-indent: 6px;
    font-size: medium;
    box-shadow:
        inset 0px 10px 10px 0px #e39a7f00,
        inset 0px -11px 8px -1px #c4ce86;
}

.Home .hom-tex .hom-log {
    margin: 0 0 40px 50px;
}

.Home .hom-tex .hom-butt button {
    margin: 25px 0 0 500px;
    width: 100px;
    height: 50px;
    background-color: #52352a;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: larger;
    font-family: 'Shantell Sans', cursive;
}

.Home .hom-tex .hom-butt button:active {
    border-top: solid 4px #000000;
    border-left: solid 4px #000000;
    border-bottom: solid 1px #313131;
    border-right: solid 1px #313131;
}

/* Service */

.Service {
    background-color: #c4ce86;
    box-shadow:
        inset 0px 10px 10px 0px #e39a7f00,
        inset 0px -11px 8px -1px #ffffff;
}

.Service .ser-al {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% 65%;
    width: 900px;
    height: 500px;
    background-color: #1A1A1A;
    color: #71DB77;
    margin: 85px 0 0 85px;
    margin-left: 350px;
}

.Service .ser-vid {
    box-shadow:
        inset 5px 0px 5px 5px #c4ce86;
}

.Service .ser-vid video {
    position: relative;
    right: 300px;
    top: -25px;
}

.Service .con-hp {
    margin-top: 50px;
    text-align: center;
    line-height: 30px;
}

.Service .con-hp p {
    color: #959595;
    margin-top: 30px;
}

.Service .con-hp .p1 {
    font-weight: bolder;
}

/* Offers */

.Offers {
    background-color: #fff;
}

.Offers .al-off {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.Offers .al-off .bak {
    background-color: #e7e5e5;
    width: 300px;
    height: 525px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px 6px #9d9c9c, inset 1px 1px 4px 1px rgb(255, 252, 252);
    display: grid;
    grid-template-rows: 75px auto 50px 75px;
    transition: all 600ms;
}

.Offers .al-off .bak:hover {
    box-shadow: 5px 4px 5px 6px #515151, inset 1px 1px 4px 1px rgb(255, 252, 252);
    transform: scale(1.05, 1.05);

}

.Offers .al-off .bak .na-bak,
.Offers .al-off .bak .pr-bak,
.Offers .al-off .bak .se-bak {
    text-align: center;
    font-weight: bolder;
}

.Offers .al-off .bak .pr-bak,
.Offers .al-off .bak .se-bak {
    margin-top: 3%;
}

.Offers .al-off .bak .na-bak h2 {
    font-family: 'Kanit', sans-serif;
    background-color: #f2f0f0;
    box-shadow: 2px 1px 4px 4px rgb(184, 184, 184), inset 3px 3px 3px 3px rgb(255, 252, 252);
    margin: 10px 50px 10px 50px;
    padding: 10px 0;
    border-radius: 10px;
}

.Offers .al-off .bak .in-bak ul li {
    margin: 4px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.Offers .al-off .bak .in-bak ul li svg {
    position: relative;
    margin-right: 15px;
    bottom: 3px;
}

.Offers .al-off .bak .pr-bak {
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}

.Offers .al-off .bak .se-bak button {
    padding: 10px 20px;
    border-radius: 30px;
    border: solid 3px rgb(15, 159, 15);
    cursor: pointer;
}



/* Customer */

.Customer {
    border-bottom: solid rgb(255, 0, 242);
    border-top: solid rgb(255, 0, 242);
}

/* views */

.views {
    border-bottom: solid rgb(0, 255, 128);
    border-top: solid rgb(0, 255, 128);
}

/* footer */

footer {
    height: 200px;
    width: 100%;
    background-color: #393939;
}