*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 45px;
    width: 100%;
    background-color: #6e6e6e8a;
    top: 0%;
}

.nav-bl{
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 15px;

}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

li{
    margin: 8px;
}

a{
    color: #000;
}

main{
    display:grid;
    grid-template-rows: 613px 660px 660px 550px 200px ;
}


.Home{
    background-color: red;
    width: 100%;
    height: 100%;
}

.Service{

    background-color: rgb(115, 255, 0);
}

.Offers{

    background-color: rgb(255, 255, 255);
}

.Customer{


    background-color: rgb(255, 0, 242);
}

.views{

    background-color: rgb(0, 255, 128);
}

footer{
    height: 200px;
    width: 100%;
    background-color: #666;
}